In [7]:
import pandas as pd

In [8]:
mydata = pd.DataFrame(
    [{'student name': 'pang', 'age': 20,'graduated': True}, 
     {'student name': 'dream', 'age': 19, 'graduated': False},
     {'student name':'tangmay', 'age': 19, 'graduated': True},
    ]
)

In [9]:
mydata.graduated

0     True
1    False
2     True
Name: graduated, dtype: bool

In [10]:
from zipfile import ZipFile
import os

# Define the path to the uploaded zip file and the extraction directory
zip_file_path = '../../module7/data/Airline_review.csv.zip'

# Read the csv file inside the zip file without extracting the file into the file system
import pandas as pd
with ZipFile(zip_file_path, 'r') as zip_ref:
    with zip_ref.open('Airline_review.csv') as file:
        # read csv file first column is index
        df = pd.read_csv(file, index_col=0)

In [11]:
df['Airline Name'].value_counts().head(10)

Caribbean Airlines     100
GoAir                  100
Germanwings            100
Philippine Airlines    100
Bangkok Airways        100
Garuda Indonesia       100
Batik Air              100
Swoop                  100
Frontier Airlines      100
Sunwing Airlines       100
Name: Airline Name, dtype: int64

In [12]:
df.columns = ['Airline Name', 'Rating', 'Review_Title', 'Review Date',
       'Verified', 'Review', 'Aircraft', 'Type Of Traveller', 'Seat Type',
       'Route', 'Date Flown', 'Seat Comfort', 'Cabin Staff Service',
       'Food & Beverages', 'Ground Service', 'Inflight Entertainment',
       'Wifi & Connectivity', 'Value For Money', 'Recommended']

In [13]:
cols=['Airline Name', 'Rating', 'Seat Type', 'Verified', 'Date Flown', 'Review']
df = df[cols]

In [14]:
# Sample review from the data 4 from Bangkok Airways 3 from Garuda Indonesia and 3 from Phillipine Airlines and then combine them into a single dataframe
sample_reviews = pd.concat([df[df['Airline Name'] == 'Bangkok Airways'].sample(4, random_state=1),
                                df[df['Airline Name'] == 'Garuda Indonesia'].sample(3, random_state=1),
                                df[df['Airline Name'] == 'Philippine Airlines'].sample(3, random_state=1)])
sample_reviews

,Airline Name,Rating,Seat Type,Verified,Date Flown,Review
5394,Bangkok Airways,1,Economy Class,True,April 2018,Chiang Mai to Bangkok. Horrible experience w...
5398,Bangkok Airways,5,Economy Class,True,February 2018,"Siem Reap to Bangkok Suvarnabhumi. Overall, ..."
5347,Bangkok Airways,6,Economy Class,False,January 2020,Bangkok to Mandalay. Bangkok Airways is good...
5395,Bangkok Airways,8,Economy Class,True,May 2018,Connecting from Dubai to Chiang Mai. Domestic...
10263,Garuda Indonesia,2,Economy Class,True,December 2019,Osaka to Jakarta. More I’m using Garuda Indo...
10267,Garuda Indonesia,9,Business Class,True,October 2019,Jakarta to YogyakartaFlying on Garuda Busine...
10216,Garuda Indonesia,1,First Class,True,June 2022,My family and I flew on Garuda Indonesia on ...
16019,Philippine Airlines,1,Economy Class,True,November 2022,The only airline that provides a direct flig...
16023,Philippine Airlines,4,Economy Class,True,October 2022,I regularly go to PI on business trips 2x a y...
15972,Philippine Airlines,4,Economy Class,False,May 2023,I just had bad flight because there was no AC...

In [15]:
sample_reviews.to_clipboard()