In [2]:
import pandas as pd

In [3]:
mydata = pd.DataFrame(
    [{'student name': 'pang', 'age': 20,'graduated': True}, 
     {'student name': 'dream', 'age': 19, 'graduated': False},
     {'student name':'tangmay', 'age': 19, 'graduated': True},
    ]
)

In [4]:
mydata.graduated

0     True
1    False
2     True
Name: graduated, dtype: bool

In [5]:
from zipfile import ZipFile
import os

# Define the path to the uploaded zip file and the extraction directory
zip_file_path = '../../module7/data/Airline_review.csv.zip'

# Read the csv file inside the zip file without extracting the file into the file system
import pandas as pd
with ZipFile(zip_file_path, 'r') as zip_ref:
    with zip_ref.open('Airline_review.csv') as file:
        # read csv file first column is index
        df = pd.read_csv(file, index_col=0)

In [6]:
df['Airline Name'].value_counts().head(10)

Caribbean Airlines     100
GoAir                  100
Germanwings            100
Philippine Airlines    100
Bangkok Airways        100
Garuda Indonesia       100
Batik Air              100
Swoop                  100
Frontier Airlines      100
Sunwing Airlines       100
Name: Airline Name, dtype: int64

In [7]:
df.columns = ['Airline Name', 'Rating', 'Review_Title', 'Review Date',
       'Verified', 'Review', 'Aircraft', 'Type Of Traveller', 'Seat Type',
       'Route', 'Date Flown', 'Seat Comfort', 'Cabin Staff Service',
       'Food & Beverages', 'Ground Service', 'Inflight Entertainment',
       'Wifi & Connectivity', 'Value For Money', 'Recommended']

In [8]:
cols=['Airline Name', 'Rating', 'Seat Type', 'Verified', 'Date Flown', 'Review']
df = df[cols]

In [9]:
# Sample review from the data 4 from Bangkok Airways 3 from Garuda Indonesia and 3 from Phillipine Airlines and then combine them into a single dataframe
sample_reviews = pd.concat([df[df['Airline Name'] == 'Bangkok Airways'].sample(4, random_state=1),
                                df[df['Airline Name'] == 'Garuda Indonesia'].sample(3, random_state=1),
                                df[df['Airline Name'] == 'Philippine Airlines'].sample(3, random_state=1)])
sample_reviews

,Airline Name,Rating,Seat Type,Verified,Date Flown,Review
5394,Bangkok Airways,1,Economy Class,True,April 2018,Chiang Mai to Bangkok. Horrible experience w...
5398,Bangkok Airways,5,Economy Class,True,February 2018,"Siem Reap to Bangkok Suvarnabhumi. Overall, ..."
5347,Bangkok Airways,6,Economy Class,False,January 2020,Bangkok to Mandalay. Bangkok Airways is good...
5395,Bangkok Airways,8,Economy Class,True,May 2018,Connecting from Dubai to Chiang Mai. Domestic...
10263,Garuda Indonesia,2,Economy Class,True,December 2019,Osaka to Jakarta. More I’m using Garuda Indo...
10267,Garuda Indonesia,9,Business Class,True,October 2019,Jakarta to YogyakartaFlying on Garuda Busine...
10216,Garuda Indonesia,1,First Class,True,June 2022,My family and I flew on Garuda Indonesia on ...
16019,Philippine Airlines,1,Economy Class,True,November 2022,The only airline that provides a direct flig...
16023,Philippine Airlines,4,Economy Class,True,October 2022,I regularly go to PI on business trips 2x a y...
15972,Philippine Airlines,4,Economy Class,False,May 2023,I just had bad flight because there was no AC...

In [10]:
sample_reviews.to_clipboard()

In [11]:
sample_reviews['Rating'] = sample_reviews['Rating'].astype('int')

In [12]:
sample_reviews.dtypes

Airline Name    object
Rating           int64
Seat Type       object
Verified          bool
Date Flown      object
Review          object
dtype: object

In [13]:
sample_reviews.describe()

          Rating
count  10.000000
mean    4.100000
std     2.923088
min     1.000000
25%     1.250000
50%     4.000000
75%     5.750000
max     9.000000

In [14]:

import pandas as pd
students = [{'student name': 'pang', 'age': 20}, 
     {'student name': 'dream', 'age': 19},
     {'student name':'tangmay', 'age': 19}
    ]
df = pd.DataFrame(students)

In [15]:
df.loc[1]

student name    dream
age                19
Name: 1, dtype: object

In [16]:
airline_reviews_small = pd.read_csv('airlines-reviews-small.csv')

In [17]:
airline_reviews_small.iloc[1]

Airline Name                                      Bangkok Airways
Rating                                                          9
Seat Type                                                 Economy
Verified                                                     True
Date Flown                                              June 2019
Review          Bangkok to Koh Samui. Easy Check-In, The Bangk...
Name: 1, dtype: object

In [18]:
airline_reviews_small['Rating']

0    6
1    9
2    1
3    9
4    1
5    9
6    9
7    8
8    7
9    1
Name: Rating, dtype: int64

In [19]:
airline_reviews_small.columns

Index(['Airline Name', 'Rating', 'Seat Type', 'Verified', 'Date Flown',
       'Review'],
      dtype='object')

In [20]:
airline_reviews_small.dtypes

Airline Name    object
Rating           int64
Seat Type       object
Verified          bool
Date Flown      object
Review          object
dtype: object

In [21]:
airline_reviews_small['Rating'] = airline_reviews_small['Rating'].astype('int64')
airline_reviews_small['Seat Type'] = airline_reviews_small['Seat Type'].astype('category')
airline_reviews_small['Date Flown'] = pd.to_datetime(airline_reviews_small['Date Flown'])

In [22]:
airline_reviews_small.dtypes

Airline Name            object
Rating                   int64
Seat Type             category
Verified                  bool
Date Flown      datetime64[ns]
Review                  object
dtype: object

In [23]:

airline_reviews_small.isnull().sum(axis=0)

Airline Name    0
Rating          0
Seat Type       0
Verified        0
Date Flown      0
Review          0
dtype: int64

In [24]:
df_missing = pd.read_csv('airlines-reviews-small-missing.csv')

In [25]:
df_missing

,Airline Name,Rating,Seat Type,Verified,Date Flown,Review
0,Bangkok Airways,6.0,Economy,True,March 2019,For this flight I was connecting from a flight...
1,Bangkok Airways,9.0,Economy,True,June 2019,"Bangkok to Koh Samui. Easy Check-In, The Bangk..."
2,Bangkok Airways,NaN,NaN,False,November 2021,I just want to thank Bangkok Airways for their...
3,Bangkok Airways,9.0,Economy,False,April 2020,I especially want to thank Khun Guy at Krabi A...
4,Garuda Indonesia,1.0,Economy,True,July 2023,Flew on GA-682 Jakarta to Sorong. I was able t...
5,Garuda Indonesia,9.0,Business,True,NaN,Jakarta to Sorong. Check in was straight forwa...
6,Garuda Indonesia,9.0,Business,True,February 2020,Flew Jakarta-Sorong on GA862 the overnight fli...
7,Philippine Airlines,8.0,NaN,True,April 2023,This was the second flight in 7 days with this...
8,Philippine Airlines,7.0,Premium Economy,False,January 2023,Got Premium economy since they were the only a...
9,Philippine Airlines,1.0,Economy,True,July 2023,"Miserable experience: very expensive, online b..."

In [26]:
df_missing.isna().sum(axis=1)

0    0
1    0
2    2
3    0
4    0
5    1
6    0
7    1
8    0
9    0
dtype: int64

In [27]:
# how many rows miss at least one column
df_missing.isna().any(axis=1)

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8    False
9    False
dtype: bool

In [30]:
df_missing.dropna().shape

(7, 6)

In [29]:
df_missing.dropna(subset=['Rating', 'Seat Type']).shape

(8, 6)

In [31]:
df_missing.shape

(10, 6)