In [230]:
import pandas as pd

In [231]:
mydata = pd.DataFrame(
    [{'student name': 'pang', 'age': 20,'graduated': True}, 
     {'student name': 'dream', 'age': 19, 'graduated': False},
     {'student name':'tangmay', 'age': 19, 'graduated': True},
    ]
)

In [232]:
mydata.graduated

0     True
1    False
2     True
Name: graduated, dtype: bool

In [233]:
from zipfile import ZipFile
import os

# Define the path to the uploaded zip file and the extraction directory
zip_file_path = '../../module7/data/Airline_review.csv.zip'

# Read the csv file inside the zip file without extracting the file into the file system
import pandas as pd
with ZipFile(zip_file_path, 'r') as zip_ref:
    with zip_ref.open('Airline_review.csv') as file:
        # read csv file first column is index
        df = pd.read_csv(file, index_col=0)

In [234]:
df['Airline Name'].value_counts().head(10)

Caribbean Airlines     100
GoAir                  100
Germanwings            100
Philippine Airlines    100
Bangkok Airways        100
Garuda Indonesia       100
Batik Air              100
Swoop                  100
Frontier Airlines      100
Sunwing Airlines       100
Name: Airline Name, dtype: int64

In [235]:
df.columns = ['Airline Name', 'Rating', 'Review_Title', 'Review Date',
       'Verified', 'Review', 'Aircraft', 'Type Of Traveller', 'Seat Type',
       'Route', 'Date Flown', 'Seat Comfort', 'Cabin Staff Service',
       'Food & Beverages', 'Ground Service', 'Inflight Entertainment',
       'Wifi & Connectivity', 'Value For Money', 'Recommended']

In [236]:
cols=['Airline Name', 'Rating', 'Seat Type', 'Verified', 'Date Flown', 'Review']
df = df[cols]

In [237]:
# Sample review from the data 4 from Bangkok Airways 3 from Garuda Indonesia and 3 from Phillipine Airlines and then combine them into a single dataframe
sample_reviews = pd.concat([df[df['Airline Name'] == 'Bangkok Airways'].sample(4, random_state=1),
                                df[df['Airline Name'] == 'Garuda Indonesia'].sample(3, random_state=1),
                                df[df['Airline Name'] == 'Philippine Airlines'].sample(3, random_state=1)])
sample_reviews

,Airline Name,Rating,Seat Type,Verified,Date Flown,Review
5394,Bangkok Airways,1,Economy Class,True,April 2018,Chiang Mai to Bangkok. Horrible experience w...
5398,Bangkok Airways,5,Economy Class,True,February 2018,"Siem Reap to Bangkok Suvarnabhumi. Overall, ..."
5347,Bangkok Airways,6,Economy Class,False,January 2020,Bangkok to Mandalay. Bangkok Airways is good...
5395,Bangkok Airways,8,Economy Class,True,May 2018,Connecting from Dubai to Chiang Mai. Domestic...
10263,Garuda Indonesia,2,Economy Class,True,December 2019,Osaka to Jakarta. More I’m using Garuda Indo...
10267,Garuda Indonesia,9,Business Class,True,October 2019,Jakarta to YogyakartaFlying on Garuda Busine...
10216,Garuda Indonesia,1,First Class,True,June 2022,My family and I flew on Garuda Indonesia on ...
16019,Philippine Airlines,1,Economy Class,True,November 2022,The only airline that provides a direct flig...
16023,Philippine Airlines,4,Economy Class,True,October 2022,I regularly go to PI on business trips 2x a y...
15972,Philippine Airlines,4,Economy Class,False,May 2023,I just had bad flight because there was no AC...

In [238]:
sample_reviews.to_clipboard()

In [239]:
sample_reviews['Rating'] = sample_reviews['Rating'].astype('int')

In [240]:
sample_reviews.dtypes

Airline Name    object
Rating           int64
Seat Type       object
Verified          bool
Date Flown      object
Review          object
dtype: object

In [241]:
sample_reviews.describe()

          Rating
count  10.000000
mean    4.100000
std     2.923088
min     1.000000
25%     1.250000
50%     4.000000
75%     5.750000
max     9.000000

In [242]:

import pandas as pd
students = [{'student name': 'pang', 'age': 20}, 
     {'student name': 'dream', 'age': 19},
     {'student name':'tangmay', 'age': 19}
    ]
df = pd.DataFrame(students)

In [243]:
df.loc[1]

student name    dream
age                19
Name: 1, dtype: object

In [244]:
airline_reviews_small = pd.read_csv('airlines-reviews-small.csv')

In [245]:
airline_reviews_small.iloc[1]

Airline Name                                      Bangkok Airways
Rating                                                          9
Seat Type                                                 Economy
Verified                                                     True
Date Flown                                              June 2019
Review          Bangkok to Koh Samui. Easy Check-In, The Bangk...
Name: 1, dtype: object

In [246]:
airline_reviews_small['Rating']

0    6
1    9
2    1
3    9
4    1
5    9
6    9
7    8
8    7
9    1
Name: Rating, dtype: int64

In [247]:
airline_reviews_small.columns

Index(['Airline Name', 'Rating', 'Seat Type', 'Verified', 'Date Flown',
       'Review'],
      dtype='object')

In [248]:
airline_reviews_small.dtypes

Airline Name    object
Rating           int64
Seat Type       object
Verified          bool
Date Flown      object
Review          object
dtype: object

In [249]:
airline_reviews_small['Rating'] = airline_reviews_small['Rating'].astype('int64')
airline_reviews_small['Seat Type'] = airline_reviews_small['Seat Type'].astype('category')
airline_reviews_small['Date Flown'] = pd.to_datetime(airline_reviews_small['Date Flown'])

In [250]:
airline_reviews_small.dtypes

Airline Name            object
Rating                   int64
Seat Type             category
Verified                  bool
Date Flown      datetime64[ns]
Review                  object
dtype: object

In [251]:

airline_reviews_small.isnull().sum(axis=0)

Airline Name    0
Rating          0
Seat Type       0
Verified        0
Date Flown      0
Review          0
dtype: int64

In [252]:
df_missing = pd.read_csv('airlines-reviews-small-missing.csv')

In [253]:
df_missing

,Airline Name,Rating,Seat Type,Verified,Date Flown,Review
0,Bangkok Airways,6.0,Economy,True,March 2019,For this flight I was connecting from a flight...
1,Bangkok Airways,9.0,Economy,True,June 2019,"Bangkok to Koh Samui. Easy Check-In, The Bangk..."
2,Bangkok Airways,NaN,NaN,False,November 2021,I just want to thank Bangkok Airways for their...
3,Bangkok Airways,9.0,Economy,False,April 2020,I especially want to thank Khun Guy at Krabi A...
4,Garuda Indonesia,1.0,Eco,True,July 2023,Flew on GA-682 Jakarta to Sorong. I was able t...
5,Garuda Indonesia,9.0,Business,True,NaN,Jakarta to Sorong. Check in was straight forwa...
6,Garuda Indonesia,9.0,Business,True,February 2020,Flew Jakarta-Sorong on GA862 the overnight fli...
7,Philippine Airlines,8.0,NaN,True,April 2023,This was the second flight in 7 days with this...
8,Philippine Airlines,7.0,Premium Economy,False,January 2023,Got Premium economy since they were the only a...
9,Philippine Airlines,11.0,Economy,True,July 2023,"Miserable experience: very expensive, online b..."

In [254]:
df_missing.isna().sum(axis=1)

0    0
1    0
2    2
3    0
4    0
5    1
6    0
7    1
8    0
9    0
dtype: int64

In [255]:
# how many rows miss at least one column
df_missing.isna().any(axis=1)

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8    False
9    False
dtype: bool

In [256]:
df_missing.dropna().shape

(7, 6)

In [257]:
df_missing.dropna(subset=['Rating', 'Seat Type']).shape

(8, 6)

In [258]:
df_missing.shape

(10, 6)

In [259]:
df_missing.describe()

          Rating
count   9.000000
mean    7.666667
std     2.872281
min     1.000000
25%     7.000000
50%     9.000000
75%     9.000000
max    11.000000

In [260]:
df_missing.value_counts()

Airline Name         Rating  Seat Type        Verified  Date Flown     Review
Bangkok Airways      6.0     Economy          True      March 2019     For this flight I was connecting from a flight from London and when originally booked there was an over 3 hour transit time, however Bangkok Airways then cancelled this flight and we were booked on an earlier flight with only a 70 minute connection time. Our flight from London arrived late due to the Pakistan airspace restrictions and although we were met by a lady from Bangkok Airways and rushed across the airport we did not make the connection as the lady was not able to use any pressure to expedite the delay at transit immigration at security. However Bangkok Airways did get us on the later flight and the 4 hours in their lounge at BKK was ok! Once on board the A320 was quite tired and the seat cushions past their best. The flight arrived on time and they managed to serve a hot drink and a pastry in the 1 hour duration. In spite of the missed connection our luggage arrived on the flight so this was good!                                                                                                                                                                                                                                                                                                                                                                                            1
                     9.0     Economy          False     April 2020     I especially want to thank Khun Guy at Krabi Airport Ticketing Office for her perseverance and commitment as a ground handling Staff with Bangkok Airways where she gave me extreme assistance. She's a true dedicated employee. I was booked from Krabi to Bkk & connecting SQ979 to S'pore on April 5th, I realized on the day before my departure, Bangkok Airways was grounded and not taking off to Bkk and I went directly to KBV Airport on April 5th early morning hoping to book a ThaiSmile flight to BKK which was departing at 4pm that same April 5th. Somehow, with sheer luck I managed to get a seat with the kind help of Guy knowing that ThaiSmile was also fully booked and that I'm on their 1st priority list. At the same time,  Guy also made sure that I'm checked in with ThaiSmile as I need to be in Bangkok to connect my SQ flight back home to S'pore. Simultaneously she also made arrangements for Bangkok Airways Staff at Suvarnabhumi Airport to assist me for check-in with SIA knowing that it was a time-factor that I needed to check-in ASAP as my SQ Departure time was 6.30pm & ThaiSmile arrival Bkk at 5.30pm as I had to clear Customs & Immigration that will consume some time. Overall I made it for my SQ-979 check-in on time with the help of Bangkok Airways Staff at Suvarnabhumi Airport.    1
                                              True      June 2019      Bangkok to Koh Samui. Easy Check-In, The Bangkok Lounge (available to everyone) was crowded but still comfortable and the food and refreshments options plus WiFi are a bonus. Boarded on time via a bus, but was organized and efficient. Plane left bang on time and flight was 50 mins, in this time 4 crew still managed to serve a small hot lunch with hot beverages. Aircraft was clean comfortable but quite old. There is nothing not to like about Bangkok Airways, arriving in Koh Samui bags were out in 5 mins.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Garuda Indonesia     1.0     Eco              True      July 2023      Flew on GA-682 Jakarta to Sorong. I was able to check in at the SKY Priority desk and I was quickly escorted by the Garuda PSA Team member Yudi through security and into the Lounge. Soft drinks and snacks were provided in the lounge and staff were very helpful. When it came time for boarding Yudi also escorted me to the aircraft. Thank you Yudi, much appreciated. The flight itself was an overnight flight and was quite full, however the cabin crew managed to serve a meal and soft drinks and overall, they were very helpful and engaging in the typical warm and friendly Garuda-Indonesia way. We arrived in Sorong on time, and it took approx. 15 minutes for my baggage to come out, considering that early morning in Soring is very busy as many airlines arrive with 30 minutes of each other I found this a very acceptable time to wait. Overall, another good flight on Garuda-Indonesia.                                                                                                                                                                                                                                                                                                                                                                                                                              1
                     9.0     Business         True      February 2020  Flew Jakarta-Sorong on GA862 the overnight flight. The check-in process was fast and efficient as was the security check. The lounge was quiet as it was late evening, however snacks and soft drinks were available in several area's within the lounge. The Boarding process was controlled and the cabin crew gave a very warm welcome upon boarding. We pulled back from the gate on schedule, however we had a long taxi to the runway, however that did not impact the arrival time in Sorong. Once airborne the cabin crew offered a selection of meals, however I opted for a sandwich. Prior to landing in the cabin crew again offered snacks and warm and cold drinks. Baggage was delivered very promptly i.e. approx. 5 minutes after arrival. Overall great flight.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
Philippine Airlines  7.0     Premium Economy  False     January 2023   Got Premium economy since they were the only available seats going to Manila. The seats are premium and comfortable for the less than 2 hour flight. Food service was so so.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
                     11.0    Economy          True      July 2023      Miserable experience: very expensive, online booking guides you to purchase 20kg allowance when it is included already. Asked for refund, no help. Never again                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
dtype: int64

In [261]:
df_missing['Rating'] > 10

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: Rating, dtype: bool

In [262]:
df_missing.loc[df_missing['Rating'] > 10, 'Rating'] = 10

In [263]:
df_missing['Rating'][df_missing['Rating'] > 10] = 10

/var/folders/j7/mgs164kx5xx37ltn1q1f2_sw0000gp/T/ipykernel_10641/85773604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['Rating'][df_missing['Rating'] > 10] = 10

In [264]:
df_missing.loc[:,['Rating', 'Review']]

   Rating                                             Review
0     6.0  For this flight I was connecting from a flight...
1     9.0  Bangkok to Koh Samui. Easy Check-In, The Bangk...
2     NaN  I just want to thank Bangkok Airways for their...
3     9.0  I especially want to thank Khun Guy at Krabi A...
4     1.0  Flew on GA-682 Jakarta to Sorong. I was able t...
5     9.0  Jakarta to Sorong. Check in was straight forwa...
6     9.0  Flew Jakarta-Sorong on GA862 the overnight fli...
7     8.0  This was the second flight in 7 days with this...
8     7.0  Got Premium economy since they were the only a...
9    10.0  Miserable experience: very expensive, online b...

In [266]:
df_missing.loc[:,'Rating':'Seat Type']

   Rating        Seat Type
0     6.0          Economy
1     9.0          Economy
2     NaN              NaN
3     9.0          Economy
4     1.0              Eco
5     9.0         Business
6     9.0         Business
7     8.0              NaN
8     7.0  Premium Economy
9    10.0          Economy

In [267]:
df_missing['Airline Name'].value_counts()

Bangkok Airways        4
Garuda Indonesia       3
Philippine Airlines    3
Name: Airline Name, dtype: int64

In [268]:
df_missing['Seat Type'].value_counts()

Economy            4
Business           2
Eco                1
Premium Economy    1
Name: Seat Type, dtype: int64

In [269]:
df_missing[1:5]

,Airline Name,Rating,Seat Type,Verified,Date Flown,Review
1,Bangkok Airways,9.0,Economy,True,June 2019,"Bangkok to Koh Samui. Easy Check-In, The Bangk..."
2,Bangkok Airways,NaN,NaN,False,November 2021,I just want to thank Bangkok Airways for their...
3,Bangkok Airways,9.0,Economy,False,April 2020,I especially want to thank Khun Guy at Krabi A...
4,Garuda Indonesia,1.0,Eco,True,July 2023,Flew on GA-682 Jakarta to Sorong. I was able t...

In [270]:
import re 
def normalize(tweet):
    # ถ้าเจอ [ก-์] สามตัวขึ้นไป ทำให้เหลือตัวเดียว
    tweet = re.sub(r'([ก-์])\1{2,}', r'\1', tweet)
    return tweet
airline_reviews_small['Cleaned review'] = airline_reviews_small['Review'].apply(normalize)